<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="MN Pet Adoption Center"
    />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

    <title>MN Pet Adoption Center</title>
    <style>
      .users{ 
        display: block;
        height: 50%;
        width: 50%;
      }
    </style>
  </head>
  <body>
        <div class="createUser">
        <form action="/add-user" method="POST">
            <input type="text" name="user_name" class="form-control" placeholder="Enter Username" size= "24"></input><br></br>
            <input type="text" name="first_name" class="form-control" placeholder="Enter First Name" size= "24"></input><br></br>
            <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" size= "24"></input><br></br>
            <input type="text" name="password" class="form-control" placeholder="Enter A Password" size= "24"></input><br></br>
            <input type="submit" class="btn btn-primary" value="submit"></input>
        </form>
    </div>
  </body>
</html>
