<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="MN Pet Adoption Center"
    />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

    <title>MN Pet Adoption Center</title>
    <style>
      .users{ 
        display: block;
        height: 50%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1>Pets</h1>
    <table>
        <tr>
          <th>Pet Name</th>
          <th>Species</th>
          <th>Gender</th>
          <th>Breed</th>
        </tr>
        {{#each pet}}
          <tr>
              <td>{{this.name}}</td>
              <td>{{this.species}}</td>
              <td>{{this.gender}}</td>
              <td>{{this.breed}}</td>
          </tr>
          {{/each}}
    </table>
  </body>
</html>
