<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="MN Pet Adoption Center"
    />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

    <title>MN Pet Adoption Center</title>
    <style>
      .users{ 
        display: block;
        height: 50%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1>Users created</h1>
    <table>
        <tr>
          <th>UserName</th>
          <th>First</th>
          <th>Last</th>
          <th>Password</th>
        </tr>
        {{#each createdUsers}}
          <tr>
              <td>{{this.user_name}}</td>
              <td>{{this.first_name}}</td>
              <td>{{this.last_name}}</td>
              <td>{{this.password}}</td>
          </tr>
          {{/each}}
    </table>
  </body>
</html>
