<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>This shows you what dogs we have available for adoption. </p>
<p>Please use the paths below to navigate application</p>
<ul>
    <li><span style="font-weight: 700;">Home Page</span> - /</li>
    <li><span style="font-weight: 700;">Log On</span> - /logon</li>
    <li><span style="font-weight: 700;">Display all dogs</span> - /dogs</li>
</ul>