<h1>Log on Entry Form:</h1>
<form action="/LogOn" method="POST">
    <input type="text"  name="email" class="form-control" placeholder="Email" size="40"><br>
    <input type="text"  name="password" class="form-control" placeholder="Password" size="40"><br>

    <input type="submit" class="btn btn-primary" value="submit">
</form>